@charset "UTF-8";
nav 
{float: none;}
        
nav ul li 
{list-style-type: none;
 padding: 20px;;
 text-align: center;
 display: inline-block; }


body
{background-image: url("tenor.gif");
 background-repeat: no-repeat, repeat;
 background-position: center;
 background-size: cover;
 background-attachment: fixed;
 overflow: scroll;}

h1 
{text-align: center}




